asgiref==3.2.4
astroid==2.3.3
autopep8==1.5
boto==2.49.0
colorama==0.4.4
dj-database-url==0.5.0
Django==3.0.4
django-heroku==0.3.1
entrypoints==0.3
gunicorn==20.0.4
ipython-genutils==0.2.0
isort==4.3.21
lazy-object-proxy==1.4.3
llvmlite==0.29.0
locket==0.2.0
mccabe==0.6.1
menuinst==1.4.16
mpmath==1.1.0
psycopg2==2.8.6
pycodestyle==2.5.0
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.43.0.3
pylint==2.4.4
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyreadline==2.1
pytz==2019.3
PyYAML==5.1.2
ruamel-yaml==0.15.46
six==1.14.0
sqlparse==0.3.1
terminado==0.8.2
typed-ast==1.4.1
whitenoise==5.2.0
wincertstore==0.2
wrapt==1.11.2
